<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Testng Practice">  
  <test name="Personal_loan">  
    <classes>  
      <class name="NaveenAutomationLabs.PracticeSession."/>  
      <class name="NaveenAutomationLabs.PracticeSession."/>  
    </classes>  
  </test> <!-- Test -->  
</suite> <!-- Suite -->  